.main-color {
    color: #004085 !important;
    /*color: #178ab8*/
}

.main-background-color {
    background-color: #004085 !important;
}

.main_logo {
    height: 50px;
}

.has-sub > a {
    padding-bottom: 35px !important;
}
/*top header*/
.phone_menu.ltm_icon_active {
    right: -3px;
    top: 47%;
}
.col_phoneemail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tpcountr_icon {
    font-size: 30px;
}

/* end of top header*/

/* header menu*/

.wrap_socail_icons li a {
    line-height: 27px;
    background: rgba(0, 64, 133, 0.8);
}



/* slider main*/

.r_wrap_slider.r_wrap_slider_4::before {
    /*background: #000;*/
    opacity: 0;
}

.service_icon_1::before {
    background-color: #063261;
}

.tp_counter_section {
    padding: 40px 20px;
}

.dropex-btn {
    color: #004085;
}

.dropex-btn i {
    color: #ffffff;
}

.dropex-btn:hover,
.dropex-btn:hover i {
    color: #fff;
    background: #004085;
}

.dropex-section.portfolio-section-3{
    background-color: #1c222d;
}

.wrap-case:hover .wrap_case_image::before {
    border: 10px solid rgb(10, 42, 203);
}

/*section for phone number*/
.banner-btn .dropex-btn {
    background-color: #004085;
}

.banner-btn .dropex-btn:hover {
    color: #004085;
    background-color: #f2f1ed;
}
/*end of section phone number*/

/*process section*/
.process_icon {
    color: #004085;
}

.wrap_process_2:hover .process_icon {
    background-color: #004085;
}
/*end of process section*/

/*works section*/
.smore_btn::before {
    background-color: #004085;
}

.smore_btn span {
    color: #ffffff;
}

.service_link:hover .smore_btn span {
    color: #004085;
}

/*end of works section*/

/*footer*/
.dropex-section.b-footer {
    background-color: #004085;
}

.footer_list li a:hover, .footer_address p a:hover {
    color: #004085;
}

.footer_list li a:hover::before {
    border-left-color: #004085;
}

.copywright a:hover, .privacy_list li a:hover {
    color: #004085;
}

.footer_sicons li a:hover {
    border-color: transparent;
    background: #004085;
    color: #fff;
}
.subcribe {
    background-color: #004085;
}
/*-------*/

/*breadcrumbs background*/
.dropex-section.r-breadcurmbs-1 {
    background-image: url(../images/breadcrumbs.jpg);
    background-position-y: -150%;
}

.single_img_carousel img{
    max-height: 500px;
    object-fit: contain;
}
.singlep-carousel .owl-dots button {
    background-color: darkgrey;
}
.mfp-bg, .mfp-wrap {
    z-index: 99999;
}

.breadcrumbs_content_1 li span, .breadcrumbs_content_1 li a:hover {
    color: #004085;
}

/*menu in projects*/
.related_service_list li.current a, .related_service_list li a:hover {
    color: #004085;
    background: hsla(0, 0%, 0%, 0.02);
    border-left: 8px solid #eee;
}

.wcontact_icon {
    color: #004085;
}

.singlep-carousel .owl-dots button.active {
    background: #004085;
}

/*about us section*/
.dropex-section.benefits-section {
    background-color: #ffffff;
}
.dropex-section.benefits-section:before {
    box-shadow: none;
    background-color: #ffffff;
}

.benefits-section .small-title,
.benefits-section .head-title,
.benefits-section h2 {
    text-align: center;
}
.work_services_list {

}

.work_services_list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.work_services_list li p {
    margin-left: 10px;
}

.partners_row {
    margin-top: 0;
}
.partners {
    margin-bottom: 30px;
}

.partners li {
    display: inline-block;
}

.partners li .sinclude_icon {
    background-color: #004085;
}

/*clients section*/
.clients_section {
    background: #ffffff;
    background-image: none !important;
}

.clients_section .wrap_simg_5::before {
    background-color: #004085;
}

/*dots in commentaries */
.wrap_tesmonails .owl-dots button, .carousel-blogs .owl-dots button {
    background-color: hsl(217, 51%, 51%);
}
.cleint-position {
    color: hsl(217, 51%, 51%);
}

.testmonail-construction .testmoanil_container::before {
    color: #bb9fa4;
}

/*contacts*/
.head_contact h3 {
    border-bottom-color: #004085;
}

.share-post li a:hover {
    background-color: #004085;
}

.comment-form button {
    background-color: #004085;
}

.comment-form button::before {
    background-color: #004085;
}

.comment-form button:hover {
    background-color: #0063e1;
    color: #ffffff;
}

.comment-form button:hover::before {
    background-color: #0063e1;
}

/*заголовки*/

.header-h1 {
    text-align: center;
    margin-bottom: .5rem;
}
.header-h1 h1 {
    background: #004085;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
}

.table-titles {
    margin-top: 50px;
}

.table-inner-title {
    border-right: 0 !important;
}
.table-inner-title ~ td {
    border-left: 0;
}