.main-color {
    color: #004085 !important;
    /*color: #178ab8*/
}

.main-background-color {
    background-color: #004085 !important;
}

.main_logo {
    height: 50px;
}
/*top header*/

.col_phoneemail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tpcountr_icon {
    font-size: 30px;
}

/* end of top header*/

/* header menu*/

.wrap_socail_icons li a {
    line-height: 27px;
    background: rgba(0, 64, 133, 0.8);
}



/* slider main*/

.r_wrap_slider.r_wrap_slider_4::before {
    /*background: #000;*/
    opacity: 0;
}

.service_icon_1::before {
    background-color: #063261;
}

.tp_counter_section {
    padding: 40px 20px;
}

.dropex-btn {
    color: #004085;
}

.dropex-btn i {
    color: #ffffff;
}

.dropex-btn:hover,
.dropex-btn:hover i {
    color: #fff;
    background: #004085;
}

.dropex-section.portfolio-section-3{
    background-color: #1c222d;
}

.wrap-case:hover .wrap_case_image::before {
    border: 10px solid rgb(10, 42, 203);
}

/*section for phone number*/
.banner-btn .dropex-btn {
    background-color: #004085;
}

.banner-btn .dropex-btn:hover {
    color: #004085;
    background-color: #f2f1ed;
}
/*end of section phone number*/

/*process section*/
.process_icon {
    color: #004085;
}

.wrap_process_2:hover .process_icon {
    background-color: #004085;
}
/*end of process section*/