.main-color {
    color: #004085 !important;

    /*color: #178ab8*/
}

.main-background-color {
    background-color: #004085 !important;
}



/*top header*/

.col_phoneemail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tpcountr_icon {
    font-size: 30px;
}
.tp_darklogo{
    height: 80px;
}

/* end of top header*/

/* header menu*/

.wrap_socail_icons li a {
    line-height: 27px;
}

/* slider main*/

.r_wrap_slider::before {
    background: #000;
    opacity: 0;
}

.dropex-slider-5 .r_slider_img {
    /*height: 80vh;*/
}


.service_icon_1::before {
    background-color: #063261;
}

.tp_counter_section {
    padding: 40px 20px;
}

.dropex-btn {
    color: #004085;
}

.dropex-btn i {
    color: #ffffff;
}

.dropex-btn:hover,
.dropex-btn:hover i {
    color: #fff;
    background: #004085;
}

.dropex-section.portfolio-section-3{
    background-color: #1c222d;
}

.wrap-case:hover .wrap_case_image::before {
    border: 10px solid rgb(10, 42, 203);
    z-index: 9;
    opacity: .7;
}
